@model List<Project.Models.Surfboard>

<h2 class="title">Fishs</h2>

<style>
    .title {
        font-size: 40px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .row {
        margin-left: 10px;
    }

    .card-image {
        max-width: 350px;
        max-height: 350px;
    }
</style>

<div class="row">
    @foreach (var surfboard in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@surfboard.Name</h5>
                    <p class="card-text"><strong>Price:</strong> @surfboard.Price</p>
                    <p class="card-text"><strong>Length:</strong> @surfboard.Length</p>
                    <p class="card-text"><strong>Width:</strong> @surfboard.Width</p>
                    <p class="card-text"><strong>Thickness:</strong> @surfboard.Thickness</p>
                    <p class="card-text"><strong>Volume:</strong> @surfboard.Volume</p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <img class="card-image" src="@surfboard.ImageURL">
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Input field to be focused when the modal is shown -->

                                    <input type="text" id="myInput" class="form-control" placeholder="Focus input">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    @if (surfboard.Equipment != null && surfboard.Equipment.Any())
                    {
                        <p class="card-text">
                            <strong>Equipment:</strong>
                            <ul>
                                @foreach (var equipment in surfboard.Equipment)
                                {
                                    <li>@equipment.Name</li>
                                }
                            </ul>
                        </p>
                    }
                </div>
            </div>
    }


<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom script for focusing on the input when modal is shown -->
<script>
    var myModal = document.getElementById('exampleModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>